body{
    background-color: #FFFEEA;
}
.a{font-weight: 900;
    font-size: xx-large;
    color: #FF4673;}
.jack1{
    display: flex;
    padding-left: 75%;
}
.uderlist{
    display: flex;
    margin-top: 900px;
}
.monthly{
    font-weight: bold;
    color: #FFC85D;
}
.consultant{
    font-weight: bold;
    color: #FFC85D;
}
.mypage{
    font-weight: bold;
    color: #FFC85D;
}
#logobar{
    margin-left: 50px; 
    margin-top: 30px;
    display: flex;
    padding: 0;
}
.underlist{
    display: flex;
    margin-left: 78%;
}
.beantree{
    align-items: center;
    width: 500px;
    height: 500px;
    display: flex;
}
.when{
    position: absolute;
    z-index: 10;
    margin: 500px 200px 280px 658px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: #FFC85D;
    font-size: 30px;
}
.beantreeimgs{
    position: relative;
    z-index: 5;
}
.word1{
    position: absolute;
    z-index: 10;
    color: blue;
    font-weight: bold;
    margin: 300px 0px 0px 800px;
    font-size: large;
}
.word2{ position: absolute;
    z-index: 10;
    color: red;
    font-weight: bold;
    margin: 250px 0px 0px 900px;
    font-size: x-large;}

a{
    color: #FFC85D;
    text-decoration-line: none;
}