@font-face {
  font-family: "Ownglyph_ryurue-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fffeea;
  width: 100vw;
  height: 100vh;
}
.abcde {
  font-weight: 900;
  font-size: xx-large;
  color: #ff4673;
  display: flex;
  font-family: "Ownglyph_ryurue-Rg";
}

.monthly {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
}
.consultant {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}
.mypage {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
}
#logobar {
  height: 5vw;
  width: 100vw;
  padding: 40px 30px 30px 40px;
}
.jack1 {
  display: flex;
  float: right;
  padding-right: 5vh;
  margin-right: 20px;
}

#beantreeimgs {
  width: 1200px;
  height: 700px;
  position: absolute;
  z-index: 1;
  display: flex;
}
.months {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: inline-flex;
  font-family: "Ownglyph_ryurue-Rg";
}

.pictures1 {
  /* display: inline-flex; */
  position: relative;
  z-index: 10;
  /* background-color: #ff4673; */
  width: 300px;
  height: 150px;
  position: absolute;
  top: 370px;
  left: 130px;
}

.pictures2 {
  /* display: inline-flex; */
  position: relative;
  z-index: 10;
  background-color: #ff4673;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 230px;
  left: 830px;
}

.pictures3 {
  /* display: inline-flex; */
  position: relative;
  z-index: 10;
  background-color: #ff4673;
  width: 300px;
  height: 150px;
  position: absolute;
  top: 120px;
  left: 250px;
}

a {
  color: #ffc85d;
  text-decoration-line: none;
}
.head {
  width: 100vw;
  height: 10vh;
}
.underlist {
  width: 20vw;
  float: right;
  padding-top: 60vh;

  z-index: 2;
  position: relative;
}
.ariari {
  margin-top: 15px;
  margin-right: 50px;
  display: flex;
}
#head {
  width: 100vw;
  height: 5vh;
}
a {
  color: #ffc85d;
  text-decoration-line: none;
  display: flexbox;
}
.logogo {
  width: 34px;
  height: 34px;
}
#header_logo_img {
  width: 34px;
  height: 34px;
  display: flex;
  position: absolute;
  top: 30px;
  left: 45px;
  cursor: pointer;
}
html,
body {
  overflow: hidden;
}
.sign {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  top: 250px;
  left: 610px;
}
.sign1 {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  top: 380px;
  left: 700px;
}
.sign2 {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 3;
  top: 515px;
  left: 480px;
}
.beantree {
  display: inline;
  width: 100vw;
}

.word_style {
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 40px;
  font-weight: 700;
  position: relative;
}
