body {
  background-color: #fffeea;
  width: 100vw;
  height: 100vh;
}
.a {
  font-weight: 900;
  font-size: xx-large;
  color: #ff4673;
  display: flex;
}

.monthly {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
}
.consultant {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}
.mypage {
  font-weight: bold;
  color: #ffc85d;
  font-size: 20px;
}
#logobar {
  height: 5vw;
  width: 100vw;
  padding: 40px 30px 30px 40px;
}
.jack1 {
  display: flex;
  float: right;
  padding-right: 5vh;
  margin-right: 20px;
}

#beantreeimgs {
  width: 1200px;
  height: 800px;
  position: absolute;
  z-index: 1;
  display: flex;
}
.months {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  display: inline-flex;
}

.pictures {
  display: inline-flex;
  position: relative;
  z-index: 10;
}

a {
  color: #ffc85d;
  text-decoration-line: none;
}
.head {
  width: 100vw;
  height: 10vh;
}
.underlist {
  width: 20vw;
  float: right;
  padding-top: 60vh;

  z-index: 2;
  position: relative;
}
.ariari {
  margin-top: 15px;
  margin-right: 50px;
  display: flex;
}
#head {
  width: 100vw;
  height: 5vh;
}
a {
  color: #ffc85d;
  text-decoration-line: none;
  display: flexbox;
}
.logogo {
  width: 34px;
  height: 34px;
}
#header_logo_img {
  width: 34px;
  height: 34px;
}
html,
body {
  overflow: hidden;
}
.sign {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 3;
  top: 423px;
  left: 346px;
}
.sign1 {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 3;
  top: 60px;
  left: 346px;
}
.sign2 {
  width: 60px;
  height: 60px;
  position: relative;
  z-index: 3;
  top: 240px;
  left: 540px;
}
.beantree {
  display: inline;
  width: 100vw;
}
