#header_logo_img {
  width: 34px;
  height: 34px;
}
#logo_img {
  display: flex;
  position: absolute;
  top: 30px;
  left: 45px;
}
body {
  background-color: #fffeea;
  overflow: hidden;
}
.element {
  position: relative;
  display: flex;
}
.ari_image {
  width: 750px;
  height: auto;
  display: block;
  position: relative;
  transform: translate(-80%, -4%);
  z-index: 2;
  top: 70px;
  right: 45px;
}
.eclipse {
  height: 430px;
  width: auto;
  display: block;
  position: relative;
  z-index: 1;
  top: 30px;
  left: 100px;
}

.background {
  position: relative;
  top: 33px;
  left: 155px;
  display: flex;
}

#diary_bubble {
  /* width: 300px;
  position: relative;
  left: 37vw;
  bottom: 10vh; */
  width: 300px;
  position: absolute;
  left: 37vw;
  bottom: 4vh;
}

.frame_zone {
  position: absolute;
  top: 7vh;
  right: 140px;
  width: fit-content;
  height: fit-content;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: inline-block; /* 이 줄을 추가하여 자식 요소를 감쌀 수 있게 함 */
  width: fit-content;
  align-self: flex-start;
}

.iframe_talk {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  right: 110px;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  top: 20px;
  right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  padding: 10px;
  z-index: 3;
}
.talk_ari_button {
  width: 100px;
  height: fit-content;
  background-color: #efefe9;
  border-radius: 30rem;
  text-wrap: nowrap;
  padding: 20px;
  white-space: nowrap;
  display: inline;
  border: solid 1px black;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.diary_button {
  width: 100px;
  height: fit-content;
  background-color: #ff4545;
  border-radius: 30rem;
  text-wrap: nowrap;
  padding: 20px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  border: solid 1px #ff4545;
  color: #ffffff;
  cursor: pointer;
}

.talk_ari_method {
  position: relative;
  left: 39px;
  bottom: 320px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 28px;
}
.how_to_talk_ari {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #f3b8ab;
  border-radius: 50%;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
}
#cam {
  width: 27px;
  height: auto;
}
#mic {
  width: 18px;
  height: auto;
}

/*  */
.diary_sheet {
  position: relative;
  width: auto;
  z-index: 0;
}
#yello_sheet {
  display: flex;
  width: 450px;
  height: auto;
  z-index: 1;
}
#diary_content {
  width: 400px;
  height: 350px;
  position: absolute;
  padding-top: 90px;
  padding-left: 34px;
  padding-right: 40px;
  padding-bottom: 90px;
  top: 0px;
  display: flex;
  border: none;
  background: none;
  position: relative;
  z-index: 999;
  background-image: url("../images/diary_sheet.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#diary_content:focus {
  outline: none;
}
.button {
  display: flex;
  width: fit-content;
  font-size: 13px;
  background-color: #ff4545;
  border-radius: 10rem;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
  text-wrap: nowrap;
  font-weight: 600;
  cursor: pointer;
}
