  #header_logo_img {
    width: 34px;
    height: 34px;
  }
  #logo_img {
    display: flex;
    position: absolute;
    top: 30px;
    left: 45px;
  }
  body {
    background-color: #fffeea;
    overflow:hidden; 
  }
.element{
    display: flex;
}
  .ari_image {
    width: 750px;
    height: auto;
    display: block;
    position: relative;
    transform: translate(-80%, -4%);
    z-index: 2;
    top : 70px;
    right :45px;

  }
  .eclipse {
    height: 430px;
    width: auto;
    display: block;
    position: relative;
    z-index: 1;
    top: 30px;
    left:100px;
  }
  
  .background {
    position: relative;
    top: 33px;
    left: 155px;
    display: flex;
  }
  
  


  .frame_zone{
    position: absolute;
    top:10px;
    right: 140px;
    width: fit-content; 
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block; /* 이 줄을 추가하여 자식 요소를 감쌀 수 있게 함 */
    width: fit-content;
    align-self: flex-start; /
   
  }


.wrapper{
    margin: 0 auto;
    text-align: center;
    width:fit-content;
    top: 20px;
    right: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:70px;
    padding: 10px;
    z-index: 3;
    
}
.talk_ari_button{
   color:#ffffff;
    width: 100px;
    height: fit-content;
    background-color: #FF4545;
    border-radius: 30rem;
    text-wrap: nowrap;
    padding:20px;
    white-space: nowrap;
    display: inline;
    border: solid 1px #FF4545;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    
    
    
}
.diary_button{

    width: 100px;
    height: fit-content;
    background-color: #EFEFE9;
    border-radius: 30rem;
    text-wrap: nowrap;
    padding:20px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border: solid 1px black;
    
    cursor: pointer;
    
}


.talk_ari_method{
    
    position: relative;
    left:39px;
    bottom:320px;
    display:inline-flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 28px;
  
    
  }
  .how_to_talk_ari{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:55px;
    height:55px;
    background-color: #F3B8AB;
    border-radius: 50%;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
  
  }
  #cam{
    width: 27px;
    height: auto;
  }
  #mic{
    width:18px;
    height: auto;
  }



  /* iframe css contents */
  /* body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  } */

  .chat-container {
    width: 450px;
    height: 630px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    display: inline-block;
    right:110px;
    top:110px;
    border : solid 1px black;
    
  }
  
  .chat-window {
    height: 450px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden; 
  }
  .chat-window::-webkit-scrollbar{
    width:5px;
  }
  .chat-window::-webkit-scrollbar-track{
    display: none;
  }
  .chat-window::-webkit-scrollbar-thumb { 
    background-color: #FF4545;
}
.chat-window::-webkit-scrollbar-button {
    display: none;
}
.chat-window::-webkit-scrollbar-track,
.chat-window::-webkit-scrollbar-thumb {
    border-radius: 10px;
}



  .chat-message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 30px;
    max-width: 70%;
  }
  
  .sent-message {
    background-color: #e1ffc7;
    align-self: flex-end;
  }
  .sent-message::before{
  background-image: url('../images/user_chat.svg');
  }

  
  .received-message {
    background-color: #f1f1f1;
    align-self: flex-start;
  }
  
.send-elements{

  position: relative;
  display: flex;
  
  top: 10px;
  gap: 25px;
  

}
.sero{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#user_chat{
  position: relative;
  width:40px;
  overflow-y: scroll;
  
}
  #chat-input {
    /* width: calc(100% - 50px); */
    position: relative;
    display: flex;
    align-items:flex-start;
    width: 250px;
    height: 80px;
    padding: 20px;
    border: none;
    background-color: #F3B8AB;
    border-radius: 3rem;
    
  }
  
  #send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap :4px;
    font-size: 13px;
    width: 70px;
    height: fit-content;
    padding: 10px;
    text-wrap: nowrap;
    font-weight: 600;
    border: none;
    background-color: #FF4673;
    border-radius: 30rem;
    color: black;
    cursor: pointer;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
  }

  #send-icon{
    width: 14px;
  }
  
  .talk_ari_method {
    position: absolute;
    left: 10px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 28px;
  }
  .how_to_talk_ari {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
    width: 55px;
    height: 55px;
    background-color: #f3b8ab;
    border-radius: 50%;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
  }
  #mic {
    width: 18px;
    height: auto;
  }
  