button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
  font-size: 15px;
}

#header_logo_img {
  width: 34px;
  height: 34px;
}

@keyframes motion {
  0% {
    margin-top: -2vh;
  }
  100% {
    margin-top: 0vh;
  }
}

#logo_img {
  display: flex;
  position: absolute;
  top: 30px;
  left: 45px;
  cursor: pointer;
}
body {
  background-color: #fffeea;
  overflow: hidden;
}
.menu {
  position: absolute;
  top: 43px;
  right: 55px;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.item {
  width: 100%;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  color: #ffc85d;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: fit-content;
  min-width: 0;
  font-size: 20px;
}
.real_menu {
  position: relative;
  display: flex;
  z-index: 3;
}
.menu_images {
  position: absolute;
  top: 39px;
  right: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu_img {
  margin-top: 26px;
  margin-bottom: 26px;
}
.ari_image {
  width: 870px;
  height: auto;
  display: block;
  position: relative;
  transform: translate(-80%, -4%);
  z-index: 2;
  animation: motion 0.4s ease-in 0s infinite alternate;
}
.eclipse {
  height: 600px;
  width: auto;
  display: block;
  position: relative;
  z-index: 1;
}

.background {
  position: relative;
  top: 33px;
  left: 155px;
  display: flex;
}
.ari_text {
  position: absolute;
  top: 50px;
  left: 310px;
  font-size: 20px;
  font-weight: 350;
  font-size: 18px;
  color: #a27979;
  z-index: 2;
}
#hi_im_ari {
  width: 230px;
  position: absolute;
  left: 840px;
  bottom: 350px;
}
a {
  color: #ffc85d;
  text-decoration-line: none;
}
.wrapper {
  display: flex;
  width: fit-content;
  height: auto;
  position: absolute;
  left: 845px;
  bottom: 74px;
  padding: 10px 23px 10px 19px;
  justify-content: center;
  align-items: center;
  background-color: #ffc85d;
  border-radius: 10rem;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.3);
  z-index: 4;
}
.left,
.right {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  transition: 0.3s;
}
#talk_ari {
  padding: 9px;
}
#lets_talk_ari {
  display: inline;
  width: fit-content;
  height: fit-content;
  white-space: nowrap;
  cursor: pointer;
}

#diary {
  padding: 15px;
}
.writing {
  display: inline;
  height: fit-content;
  padding-right: 3px;
  cursor: pointer;
}
.left {
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  padding: 10px;
  padding-right: 28px;
}
.right {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  padding: 10px;
  padding-left: 17px;
}
#seprator {
  display: flex;
  height: 40px;
}
.talk_ari_method {
  position: relative;
  left: 39px;
  bottom: 320px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 28px;
}
.how_to_talk_ari {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #f3b8ab;
  border-radius: 50%;
  box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);
}
#cam {
  width: 27px;
  height: auto;
}
#mic {
  width: 18px;
  height: auto;
}
