#header_logo_img {
  width: 34px;
  height: 34px;
}

#logo_img {
  display: flex;
  position: absolute;
  top: 30px;
  left: 45px;
}

body {
  background-color: #fffeea;
  overflow: hidden;
}

.element {
  display: flex;
}

.ari_image {
  width: 750px;
  height: auto;
  display: block;
  position: relative;
  transform: translate(-80%, -4%);
  z-index: 2;
  top: 70px;
  right: 45px;
}

.eclipse {
  height: 430px;
  width: auto;
  display: block;
  position: relative;
  z-index: 1;
  top: 30px;
  left: 100px;
}

.background {
  position: relative;
  top: 33px;
  left: 155px;
  display: flex;
}

.frame_zone {
  position: absolute;
  top: 10px;
  right: 140px;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block; /* 이 줄을 추가하여 자식 요소를 감쌀 수 있게 함 */
  width: fit-content;
  align-self: flex-start;
}

.wrapper {
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  top: 20px;
  right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 70px;
  padding: 10px;
  z-index: 3;
}
.talk_ari_button {
  color: #ffffff;
  width: 100px;
  height: fit-content;
  background-color: #ff4545;
  border-radius: 30rem;
  text-wrap: nowrap;
  padding: 20px;
  white-space: nowrap;
  display: inline;
  border: solid 1px #ff4545;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.diary_button {
  width: 100px;
  height: fit-content;
  background-color: #efefe9;
  border-radius: 30rem;
  text-wrap: nowrap;
  padding: 20px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  border: solid 1px black;

  cursor: pointer;
}

.talk_ari_method {
  position: relative;
  left: 39px;
  bottom: 320px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 28px;
}

/* iframe css contents */
/* body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  } */

.chat-container {
  width: 450px;
  height: 630px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: inline-block;
  right: 110px;
  top: 110px;
}

.chat-window {
  height: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chat-window::-webkit-scrollbar {
  width: 5px;
}
.chat-window::-webkit-scrollbar-track {
  display: none;
}
.chat-window::-webkit-scrollbar-thumb {
  background-color: #ff4545;
}
.chat-window::-webkit-scrollbar-button {
  display: none;
}
.chat-window::-webkit-scrollbar-track,
.chat-window::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.chat-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 30px;
  max-width: 70%;
}

.sent-message {
  background-color: #f3b8ab;
  align-self: flex-end;
  margin-right: 20px;
  font-size: 15px;
  padding: 17px;
}
.profile-img {
  display: block;
  width: 20px; /* 이미지의 너비 */
  height: 20px;
  min-height: 20px; /* 이미지의 높이 */
  background-image: url("../images/user_chat.svg");
  background-size: cover; /* 이미지를 요소 크기에 맞게 조정 */
  background-position: center; /* 이미지를 중앙에 배치 */
  position: relative;
  left: 390px;
  bottom: 10px;
}

.received-message {
  width: fit-content;
  background-color: #e2bf8b;
  align-self: flex-start;
  line-height: 1.5;
  margin-left: 20px;
  font-size: 15px;
  padding: 17px;
  display: inline-block;
  position: relative;
}

.send-elements {
  position: relative;
  display: flex;
  justify-content: center;
  top: 15px;
  gap: 23px;
}
.sero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: end;
}

#user_chat {
  position: relative;
  width: 40px;
  height: 43px;
  right: 10px;
}

.input_bubble {
  display: inline-block;
  width: fit-content;
  align-items: baseline;
  position: relative;
}

#chat-input {
  /* width: calc(100% - 50px); */
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 250px;
  height: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;

  padding-bottom: 50px;
  text-align: left;

  border: none;
  background-color: #f3b8ab;
  border-radius: 3rem;
  resize: none;
}
#chat-input:focus {
  outline: none;
}
#input_tail {
  width: 40px;
  height: auto;
  position: relative;
  top: 27px;
  left: 250px;
}

#send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  width: 70px;
  height: fit-content;
  padding: 10px;
  text-wrap: nowrap;
  font-weight: 600;
  border: none;
  background-color: #ff4673;
  border-radius: 30rem;
  color: black;
  cursor: pointer;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1);
}

#send-icon {
  width: 14px;
  position: relative;
}

.talk_ari_method {
  position: absolute;
  left: 10px;
  bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 28px;
}

#mic {
  top: 160px;
  right: 59px;
  width: 100px;
  height: auto;
  position: relative;
  width: 25px;
  height: auto;
  cursor: pointer;
}
#tooltip {
  position: relative;
  /* bottom: 30px; */
  top: 185px;
  right: 160px;
  background-color: pink;
  padding: 10px;
  border-radius: 5px;
  visibility: hidden;
}
