<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상담사 목록</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/counselors_list.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/counselors_list.js') }}"
      defer
    ></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div id="menu_img">
          <a href="{{ url_for('main') }}"
            ><img
              id="header_logo_img"
              src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
              alt="ari_logo"
          /></a>
        </div>
        <div class="menu_bar">
          <div class="menu">
            <span
              class="item"
              id="my_page"
              onclick="window.location.href='/my_page'"
            >
              마이 페이지
            </span>
            <span
              class="item"
              id="counselor"
              onclick="window.location.href='/counselors_list'"
              >상담사 목록
            </span>
            <span
              class="item"
              id="record"
              onclick="window.location.href='/jack'"
              >앓이 기록
            </span>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <h1 id="counselor-title">상담사 목록</h1>
      <div class="search-bar-container">
        <div class="search-bar">
          <input
            type="text"
            placeholder="상담사 이름으로 검색해보세요"
            id="search-input"
          />
        </div>
      </div>
      <br />
      <div class="counselor-list">
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기
              <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>

          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img class="counselorimg" src="" />
          </div>
          <div class="counselor-details">
            <div class="counselor-name"></div>
            <div class="hashtags"></div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
      </div>
    </div>
  </body>
</html>
