<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상담사 목록</title>
    
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/counselors_list.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/counselors_list.js') }}"
      defer
    ></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div id="menu_img">
          <a href="{{ url_for('main') }}"
            ><img
              id="header_logo_img"
              src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
              alt="ari_logo"
          /></a>
        </div>
        <div class="menu_bar">
          <div class="menu">
            <span
              class="item"
              id="my_page"
              onclick="window.location.href='/my_page'">
              마이 페이지
            </span>
            <span
              class="item"
              id="counselor"
              onclick="window.location.href='/counselors_list'">상담사 목록
            </span>
            <span
              class="item"
              id="record"
              onclick="window.location.href='/monthreport'">앓이 기록
            </span>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <h1>상담사 목록</h1>
      <div class="search-bar-container">
        <div class="search-bar">
          <input type="text" placeholder="번아웃" id="search-input" />
          <button class="search-logo">
            <img src="static/images/record_logo.png" alt="Record Logo" />
          </button>
        </div>
        <div class="sort-button-container">
          <button id="sort-button">추천순</button>
        </div>
      </div>
      <div class="counselor-list">
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_hwang.png"
              alt="황지은"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">황지은</div>
            <div class="hashtags">
              <!-- <span>#번아웃</span> 
                <span>#직장생활</span> -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기
              <span class="review-number"></span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_kim.png"
              alt="김민주"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">김민주</div>
            <div class="hashtags">
              <!-- <span>#부부관계</span>
                <span>#인간관계</span>
                <span>#번아웃</span> -->
            </div>
          </div>

          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_wu.png"
              alt="우채인"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">우채인</div>
            <div class="hashtags">
              <!-- <span>#심리장애</span>
                <span>#자존감</span>
                <span>#번아웃</span>   -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_an.png"
              alt="안윤정"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">안윤정</div>
            <div class="hashtags">
              <!-- <span>#번아웃</span>
                <span>#직장생활</span>  -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_hu.png"
              alt="허원경"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">허원경</div>
            <div class="hashtags">
              <!-- <span>#부부관계</span>
                <span>#인간관계</span>
                <span>#번아웃</span>   -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_han.png"
              alt="한인숙"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">한인숙</div>
            <div class="hashtags">
              <!-- <span>#심리장애</span> 
                <span>#자존감</span> 
                <span>#번아웃</span> -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_park.png"
              alt="박채연"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">박채연</div>
            <div class="hashtags">
              <!-- <span>#심리장애</span> 
                <span>#자존감</span> 
                <span>#번아웃</span> -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
        <div class="counselor-card">
          <div class="image-wrapper">
            <img
              class="counselorimg"
              src="static/images/Counselor_lee.png"
              alt="이미연"
            />
          </div>
          <div class="counselor-details">
            <div class="counselor-name">이미연</div>
            <div class="hashtags">
              <!-- <span>#심리장애</span> 
                <span>#자존감</span> 
                <span>#번아웃</span> -->
            </div>
          </div>
          <div class="counselor-intro"></div>
          <div class="reviews">
            <div class="review-text">
              후기 <span class="review-number">136</span>
            </div>
            <div class="stars"></div>
          </div>
          <a class="details-btn">상세보기</a>
        </div>
      </div>
    </div>
  </body>
</html>
