<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상담 페이지</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/counselor_detailed.css') }}"
    />
    <script>
      var current_counselor_id = parseInt("{{ current_counselor_id|safe  }}");
    </script>
    <script
      src="{{ url_for('static', path='javascript/counselor_detailed.js') }}"
      defer
    ></script>
  </head>
  <body>
    <header>
      <div class="header">
        <div id="menu_img">
          <a href="{{ url_for('main') }}"
            ><img
              id="header_logo_img"
              src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
              alt="ari_logo"
          /></a>
        </div>
        <div class="menu_bar">
          <div class="menu">
            <span
              class="item"
              id="my_page"
              onclick="window.location.href='/my_page'"
            >
              마이 페이지</span
            >
            <span
              class="item"
              id="counselor"
              onclick="window.location.href='/counselors_list'"
              >상담사 목록</span
            >
            <span
              class="item"
              id="record"
              onclick="window.location.href='/monthreport'"
              >앓이 기록</span
            >
          </div>
        </div>
      </div>
    </header>
    <div class="profile">
      <h1><span class="title"> 심리 상담사</span></h1>
      <div class="reviews">
        <div class="review-text">
          상담 후기
          <span class="review-number"></span>
        </div>
        <div class="stars" id="first-star"></div>
      </div>
      <div class="pricing">
        <div class="session"><p>30분 세션: 70,000원</p></div>
        <button class="btn-reserve">예약</button>
      </div>
    </div>
    <div class="introduction">
      <div class="intro-left">
        <h2>소개 및 철학</h2>
        <p></p>
      </div>
      <div class="intro-right">
        <div class="counselor-card">
          <div class="counselorpicture"></div>
          <div class="li"></div>
        </div>
        <div class="hashtags"></div>
      </div>
    </div>
    <div class="secondpage">
      <div class="second-right">
        <h2>상담 방법 및 일정</h2>
        <div class="consultation-info">
          <div class="info-text">
            <p>
              내담자의 이야기에 귀 기울이는 김상담 상담사와 함께 마음의 짐을
              덜어보세요.
            </p>
          </div>
          <div class="three-methods">
            <div class="method">
              <span>👤</span>
              <strong>대면 상담</strong>
            </div>
            <div class="method">
              <span>🏠</span>
              <strong>온라인 상담</strong>
            </div>
            <div class="method">
              <span>⏰</span>
              <strong>상담 가능 시간</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="ari_img">
        <img
          class="ari_image"
          src="{{ url_for('static', path ='images/main_img/ari_with_shadow.svg')}}"
          alt="loading.."
        />
      </div>
    </div>

    <div class="feedback">
      <div class="feedback-one">
        <div class="feedback-review"></div>
        <div class="star-rating" id="four">
          <div class="stars" id="feedback"></div>
        </div>
      </div>
      <div class="feedback-two">
        <div class="summary">
          <p class="summary-title">AI 후기 요약</p>
          <p class="positive-review">
            긍정 리뷰 <span class="percentage">100%</span>
          </p>
          <p class="detailed-review"></p>
        </div>
      </div>
      <div class="feedback-three">
        <div class="profession">
          <p>전문성</p>
          <p class="p">높아요 (25) 100%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="p">보통이에요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="p">부족해요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
        </div>
        <div class="profession">
          <p>친절함</p>
          <p class="k">친절해요 (25) 100%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="k">보통이에요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="k">아쉬워요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
        </div>
        <div class="profession">
          <p>개인 맞춤형 피드백</p>
          <p class="f">도움이 되었어요 (25) 100%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="f">보통이에요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="f">별로에요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
        </div>
        <div class="profession">
          <p>재상담 의사</p>
          <p class="r">재상담 원해요 (25) 100%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="r">보통이에요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
          <p class="r">그저 그래요 (0) 0%</p>
          <div class="bar-container">
            <div class="bar"></div>
          </div>
        </div>
      </div>
      <div class="feedback-four">
        <hr />
      </div>
    </div>
  </body>
</html>
