<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- CSS 연결 -->
     <link
     rel="stylesheet"
     href="{{ url_for('static', path='css/diary_sheet.css') }}"
   />

   <!-------------------------------------------------------------------------->

   <!-- Javascript 연결 -->
   <script
     src="{{ url_for('static', path='javascript/diary_sheet.js') }}"
     defer
   ></script>




</head>
<body>
    <div class = diary_sheet>
        <img
            id="yello_sheet"
            src="{{ url_for('static', path ='images/diary_sheet.svg')}}"
            alt="loading.."
          />

        <div class = "content">

        </div>
    </div>
    
        <button class="button">저장하기</div>

    
</body>
</html>