<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/jack.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <script
      src="{{ url_for('static', path='javascript/jack.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="head">
      <div id="logobar">
        <a href="{{ url_for('main') }}"
          ><img
            id="header_logo_img"
            src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
            alt="ari_logo"
        /></a>
        <div class="jack1">
          <div class="a">방아리</div>
          <div class="ariari">님의 앓이 기록</div>
        </div>
      </div>
    </div>
    <div class="pictures"></div>
    <div class="beantree">
      <img
        id="beantreeimgs"
        src="{{ url_for('static', path='images/beantreeimg.png') }}"
        alt=""
      />
      <div>
        <div class="months"></div>
        <img
          class="sign"
          src="{{ url_for('static', path='images/sign.svg') }}"
          alt=""
        />
        <img
          class="sign1"
          src="{{ url_for('static', path='images/sign.svg') }}"
          alt=""
        />
        <img
          class="sign2"
          src="{{ url_for('static', path='images/sign.svg') }}"
          alt=""
        />
      </div>
    </div>
    <div class="underlist">
      <div class="monthreport">
        <img src="" alt="" />
        <div class="monthly">
          <img
            class="logobar"
            src="{{ url_for('static', path='images/imgfolder/graph.svg') }}"
            alt=""
            width="20px"
            height="20px"
          />
          <a href="{{ url_for('monthreport') }}">월별 현황</a>
        </div>
        <div class="consultant">
          <img
            class="logobar"
            src="{{ url_for('static', path='images/imgfolder/Group 27.svg') }}"
            alt=""
            width="20px"
            height="20px"
          />
          <a href="{{ url_for('counselors_list') }}">상담사 목록</a>
        </div>
        <div class="mypage">
          <img
            class="logobar"
            src="{{ url_for('static', path='images/imgfolder/Vector.svg') }}"
            alt=""
            width="20px"
            height="20px"
          />
          <a href="{{ url_for('my_page') }}">마이 페이지</a>
        </div>
      </div>
    </div>
  </body>
</html>
