<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main2.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/main2.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>
  <body>
    <header>
      <div id="logo_img" onclick="window.location.href='/main'">
        <img
          id="header_logo_img"
          src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
          alt="ari_logo"
        />
      </div>
    </header>

    <div class="element">
      <div class="background">
        <img
          class="eclipse"
          src="{{ url_for('static', path ='images/main_img/eclipse.svg')}}"
          alt="loading.."
        />

        <div class="ari_img">
          <img
            class="ari_image"
            src="{{ url_for('static', path ='images/main_img/ari_with_shadow.svg')}}"
            alt="loading.."
          />
        </div>
      </div>

      <div class="frame_zone">
        <div class="wrapper">
          <div
            class="talk_ari_button"
            onclick="window.location.href='/ari_talk'"
          >
            아리와 대화하기
          </div>
          <div class="diary_button" onclick="window.location.href='/diary'">
            일기 쓰기
          </div>
        </div>
        <div class="chat-container">
          <div class="chat-window" id="chat-window"></div>
          <div class="send-elements">
            <div class="input_bubble">
              <img
                id="input_tail"
                src="{{ url_for('static', path ='images/tail.svg')}}"
                alt="loading.."
              />
              <textarea
                id="chat-input"
                placeholder="대화를 종료하고 싶다면 '대화 종료 할게'라고 말하거나 입력해주세요!"
              ></textarea>
            </div>
            <div class="sero">
              <img
                id="user_chat"
                src="{{ url_for('static', path ='images/user_chat.svg')}}"
                alt="loading.."
              />
              <button id="send-button">
                <img
                  id="send-icon"
                  src="{{ url_for('static', path ='images/send_icon.svg')}}"
                  alt="loading.."
                />
                보내기
              </button>
            </div>
          </div>
        </div>

        <div class="talk_ari_method">
          <div id="tooltip">마이크를 통해 아리와 대화해보세요!</div>
          <img
            id="mic"
            src="{{ url_for('static', path ='images/nomic.svg')}}"
            alt="loading.."
            style="width: 45px"
          />
        </div>
      </div>
    </div>
  </body>
</html>
