<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/main.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/main.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>

  <body>
    <header>
      <div id="logo_img">
        <img
          id="header_logo_img"
          src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
          alt="ari_logo"
        />
      </div>
    </header>

    <div class="real_menu">
      <div class="menu_images">
        <img
          class="menu_img"
          src="{{ url_for('static', path ='images/main_img/mypage.svg')}}"
          alt="no img"
        />
        <img
          class="menu_img"
          src="{{ url_for('static', path ='images/main_img/counselor.svg')}}"
          alt="no img"
        />
        <img
          class="menu_img"
          src="{{ url_for('static', path ='images/main_img/record.svg')}}"
          alt="no img"
        />
      </div>
      <div class="menu">
        <div class="item">
          <a href="{{ url_for('my_page') }}">마이페이지</a>
        </div>
        <div class="item">
          <a href="{{ url_for('counselors_list') }}">상담사 목록</a>
        </div>
        <div class="item"><a href="{{ url_for('jack') }}"></a>앓이 기록</div>
      </div>
    </div>

    <div class="background">
      <img
        class="eclipse"
        src="{{ url_for('static', path ='images/main_img/eclipse.svg')}}"
        alt="loading.."
      />

      <div class="ari_text">아리에게 원하는 말을 해보세요!</div>

      <div class="ari_img">
        <img
          class="ari_image"
          src="{{ url_for('static', path ='images/main_img/ari_with_shadow.svg')}}"
          alt="loading.."
        />
      </div>
    </div>

    <div class="bubbles">
      <img
        id="hi_im_ari"
        src="{{ url_for('static', path ='images/main_img/hi_im_ari.svg')}}"
        alt="loading.."
      />
    </div>

    <div class="wrapper">
      <div class="left">
        <img
          id="talk_ari"
          src="{{ url_for('static', path ='images/main_img/ari_talk_logo.svg')}}"
          alt="loading.."
        />
        <span style="font-size: 40px"> 아리와 대화할래 </span>
      </div>

      <span class="button-seprator">
        <img
          id="seprator"
          src="{{ url_for('static', path ='images/main_img/seprator.svg')}}"
          alt="loading.."
        />
      </span>

      <div class="right">
        <img
          id="diary"
          src="{{ url_for('static', path ='images/main_img/diary.svg')}}"
          alt="loading.."
        />
        <span style="font-size: 40px"> 일기 쓸래 </span>
      </div>
    </div>
  </body>
</html>
