<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/my_page.css') }}"
    />
    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/my_page.js') }}"
      defer
    ></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div id="menu_img">
          <a href="{{ url_for('main') }}"
            ><img
              id="header_logo_img"
              src="{{ url_for('static', path ='images/main_img/ari_log.svg')}}"
              alt="ari_logo"
          /></a>
        </div>
        <div class="menu_bar">
          <div class="menu">
            <span
              class="item"
              id="my_page"
              onclick="window.location.href='/my_page'"
            >
              마이 페이지</span
            >
            <span
              class="item"
              id="counselor"
              onclick="window.location.href='/counselors_list'"
              >상담사 목록</span
            >
            <span
              class="item"
              id="record"
              onclick="window.location.href='/jack'"
              >앓이 기록</span
            >
          </div>
        </div>
      </div>
    </header>
    <main class="container">
      <div class="my-page">
        <h1>MY PAGE</h1>
        <div class="greeting">
          <p>방아리님 반갑습니다.</p>
        </div>

        <div class="profile">
          <img
            class="profile-pic"
            src="static/images/항아리svg.svg"
            alt="Profile Picture"
          />
          <div class="profile-info">
            <div class="profile-info-left">
              <p>나이 :</p>
              <p>직업 :</p>
              <p>나의 목표 :</p>
            </div>
            <div class="profile-info-right">
              <p class="membership-date">가입날짜 : 2024. 07. 02</p>
              <button class="edit-info">정보수정</button>
            </div>
          </div>
        </div>

        <div class="encouragement">
          <div class="bubble">
            <p>당신의 마음을 이해해요. 함께라면 이겨낼 수 있어요!</p>
          </div>
        </div>

        <h3>상담 예약 관리</h3>
        <div class="reservation-management">
          <p>
            아리님은 7월 18일(이틀 뒤)에 최우식 상담사와 상담예약이
            되어있습니다!
          </p>
          <button class="modify-reservation">예약변경 / 예약취소</button>
        </div>
        <div class="entire consultation-history">
          <div class="consultation-history">
            <h2>상담이력 및 결제 내역</h2>
            <div class="history-list"></div>
          </div>
        </div>
      </div>
    </main>
    <!-- 후기 작성 모달 -->

    <div id="reviewModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>후기 작성</h2>
        <form id="reviewForm">
          <label for="reviewText">후기:</label>
          <textarea id="reviewText" rows="10" cols="50"></textarea>

          <div class="input-group">
            <label for="aa">전문성: (최대 3점)</label>
            <input type="number" id="aa" name="aa" min="0" max="3" />
          </div>
          <div class="input-group">
            <label for="bb">친절함: (최대 3점)</label>
            <input type="number" id="bb" name="bb" min="0" max="3" />
          </div>
          <div class="input-group">
            <label for="cc">개인 맞춤형 피드백: (최대 3점)</label>
            <input type="number" id="cc" name="cc" min="0" max="3" />
          </div>
          <div class="input-group">
            <label for="dd">재상담 의사: (최대 3점)</label>
            <input type="number" id="dd" name="dd" min="0" max="3" />
          </div>
          <div class="input-group">
            <label for="ee">전체: (최대 5점)</label>
            <input type="number" id="ee" name="ee" min="0" max="5" />
          </div>

          <input type="hidden" id="counselorName" name="counselorName" />
          <button type="submit" class="submit-btn">제출</button>
        </form>
      </div>
    </div>

    <footer>
      <button class="delete-account">회원탈퇴</button>
    </footer>
  </body>
</html>
