<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-------------------------------------------------------------------------->

    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/my_page.css') }}"
    />

    <!-------------------------------------------------------------------------->

    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/my_page.js') }}"
      defer
    ></script>

    <!-------------------------------------------------------------------------->
  </head>



  <body>

  <header>
    <div class ="header">
      <div id ="menu_img">
        <img id= "header_logo_img" src = "{{ url_for('static', path ='images/main_img/ari_log.svg')}}" alt="ari_logo" /> 
      </div>

      <div class = "menu_bar">
        <div class = "menu">
          <span class="item" id ="my_page">마이페이지</span>
          <span class="item" id="counselor">상담사 목록</span>
          <span class ="item" id="record">앓이 기록</span>
        </div>
      </div>
    </div>
     
       
  </header>



  
  </body>
</html>
