<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/reset.css') }}"
    />
    <!-- CSS 연결 -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/my_page.css') }}"
    />
    <!-- Javascript 연결 -->
    <script
      src="{{ url_for('static', path='javascript/my_page.js') }}"
      defer
    ></script>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="logo">
          <img src="static/images/로고1svg.svg" alt="Logo1" />
        </div>
        <nav>
          <div class="nav-container">
            <img src="static/images/로고2svg.svg" alt="Logo2" class="logo2" />
            <ul>
              <li><a href="#">상담사 목록</a></li>
              <li><a href="#">앓이 기록</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <main>
        <div class="my-page">
          <h1>MY PAGE</h1>
          <div class="greeting">
            <p>방아리님 반갑습니다.</p>
          </div>

          <div class="profile">
            <img
              class="profile-pic"
              src="static/images/항아리svg.svg"
              alt="Profile Picture"
            />
            <div class="profile-info">
              <div class="profile-info-left">
                <p>나이 :</p>
                <p>직업 :</p>
                <p>나의 목표 :</p>
              </div>
              <div class="profile-info-right">
                <p class="membership-date">가입날짜 : 2024. 07. 02</p>
                <button class="edit-info">정보수정</button>
              </div>
            </div>
          </div>

          <div class="encouragement">
            <div class="bubble">
              <p>당신의 마음을 이해해요. 함께라면 이겨낼 수 있어요!</p>
            </div>
          </div>

          <h3>상담 예약 관리</h3>
          <div class="reservation-management">
            <p>
              방아리님은 7월 18일(이틀 뒤)에 최우식 상담사와 상담예약이
              되어있습니다!
            </p>
            <button class="modify-reservation">예약변경 / 예약취소</button>
          </div>

          <div class="consultation-history">
            <h2>상담이력 및 결제 내역</h2>
            <div class="history-list">
              <div class="history-item paid">
                <div class="history-header">
                  <p class="consultant-name">최우식</p>
                  <p class="consultant-role">상담사</p>
                </div>
                <p>1회차</p>
                <p>◎ 자아찾기 프로그램</p>
                <p>
                  <span class="amount">12500원</span>
                  <span class="status">결제완료</span>
                </p>
                <p>2024. 07. 16 (화)</p>
                <button class="review-btn">후기 작성</button>
              </div>
              <div class="history-item paid">
                <div class="history-header">
                  <p class="consultant-name">변요한</p>
                  <p class="consultant-role">상담사</p>
                </div>
                <p>1회차</p>
                <p>◎ 번아웃 극복 프로그램</p>
                <p>
                  <span class="amount">13800원</span>
                  <span class="status">결제완료</span>
                </p>
                <p>2024. 07. 23 (화)</p>
                <button class="review-btn">후기 작성</button>
              </div>
              <div class="history-item">
                <div class="history-header">
                  <p class="consultant-name">최우식</p>
                  <p class="consultant-role">상담사</p>
                </div>
                <p>3회차</p>
                <p>◎ 자아찾기 프로그램</p>
                <p><span class="amount">12500원</span></p>
                <p>2024. 08. 02 (화)</p>
                <button class="review-btn">후기 작성</button>
              </div>
              <div class="history-item">
                <div class="history-header">
                  <p class="consultant-name">최우식</p>
                  <p class="consultant-role">상담사</p>
                </div>
                <p>2회차</p>
                <p>◎ 자아찾기 프로그램</p>
                <p><span class="amount">12500원</span></p>
                <p>2024. 08. 16 (목)</p>
                <button class="review-btn">후기 작성</button>
              </div>
            </div>
          </div>
        </div>
      </main>

      <footer>
        <button class="delete-account">회원탈퇴</button>
      </footer>
    </div>
  </body>
</html>
